
<h1>Verify your email here</h1>

<form action="/results" method="GET">

<input type="email" placeholder="Enter the email" name="Email"  autocomplete="off" required>
<button>Submit</button>
</form>




    
    
    
    


